body
{
	background-color: #14171d;
	overflow-x: hidden;
} 

.header
{
  font-size: 50px;
  
  margin: 0;
}

.aqua-text
{
  color: aqua;
}

.container
{
  margin: auto;
  font-family: lato;
  white-space: nowrap;
  width: 50%;
  
}

.white-text
{
  color: white;
}

.interests li::before
{
  color: white;
}

.top-gap
{
  margin-top: 50px;
}

.separator
{
  padding-top: 15px;
  
}

.center
{
  width: 100%;
}