body
{
	background-color: #14171d;
	overflow-x: hidden;
} 

.header
{
  font-size: 50px;
  
  margin: 0;
}

.aqua-text
{
  color: aqua;
}

.container
{
  margin: 4% 10%;
  font-family: lato;
}

.white-text
{
  color: white;
}

.interests li::before
{
  color: white;
}
