body
{
	background-color: #14171d;
	overflow-x: hidden;
} 

.contact-info
{
	position: absolute;
	margin-top: 100px;
	left: 15%;
}

.contact-info p
{
	color: white;
	font-family: lato;
	
	left: 20%;
}

#aqua-text
{
	color: aqua;
}

.add-space
{
	padding-right: 20px;
}

.fa-envelope-square
{
	/*background: black;*/
	color: white;
}
