body
{
	background-color: #14171d;
	overflow: auto;
	width: 100%;
} 

.container
{
	display: flex;
	flex-direction: column;
	margin: auto;
	font-family: lato;
	/*white-space: nowrap;*/
	/*width: 100%;*/
	flex-wrap: wrap;
	
	max-width: 850px;
}

.container p
{
	color: white;
	font-family: lato;
}

#aqua-text
{
	color: aqua;
}

.top-gap
{
	padding-top: 50px;
}

/* for the space between email icon*/
.add-space
{
	padding-right: 20px;
}

.fa-envelope-square
{
	/*background: black;*/
	color: white;
}

.message
{
	color: yellow;
	width: 100%;
	text-align: center;
	background-color: #1AA7EC;
	font-family: lato;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media screen (max-width: 1024px)
{
  .container
  {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}