body
{
	background-color: #14171d;
	overflow-x: hidden;
} 

.home-image
{
	
	border-radius: 5px;
	width: 30%;
	min-width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	margin-top: 60px;
	box-sizing: border-box;
}

.home-info
{
	margin-top: 100px; 
}

.name
{
	text-align: center;
	position: absolute;
	font-family: lato;
	margin: auto;
	width: 100%; /* need this w/ text align to center horizontal*/
	
	color: magenta;
	font-size: 100px;
	font-weight: 800 !important;
	top: 55%; /* vertical alignment*/
}


.footer-icons
{
	position: absolute;
	top: 60%;
	text-align: center;
	width: 100%;
	margin-left: auto;

}

.footer-icons li 
{
	margin-top: 130px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 10px;

}

#mail
{
	margin-right: 35px;
}

footer-icons a
{
	text-decoration: none;
}

.fa {
	
	padding: 10px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
  }

.fa-linkedin {
	/*background: black;*/
	color: white;
  }

.fa-github
{
	/*background: black;*/
	color: white;
}

.fa-envelope-square
{
	/*background: black;*/
	color: white;
}

@media screen and (max-width: 1024px) 
{
	.home-image
	{
		display: none;
	}

	.name
	{
		top: 30%;
	}

	.footer-icons 
	{
		top: 55%;
	}
}

.message
{
	color: yellow;
	width: 100%;
	text-align: center;
	background-color: #1AA7EC;
	font-family: lato;
	padding-top: 10px;
	padding-bottom: 10px;
}