body
{
	background-color: #1c2e4a;
	font-family: lato;
	
}

html
{
	scroll-behavior: smooth;
}

.main-header
{
	font-family: lato;
	text-align: center !important;
	margin: auto;
	width: 50%;
	padding-top: 350px;
	color: magenta;
	font-size: 100px;
	font-weight: 800 !important;
	top: 50%;
}


.main-header2
{
	font-family: lato;
	text-align: center !important;
	padding-top: 50px;
	color: magenta;
	font-size: 100px;
	font-weight: 800 !important;
}

.sub-header
{
	font-family: lato;
	text-align: center !important;
	padding-top: 50px;
	color: magenta;
	font-size: 100px;
	font-weight: 800 !important;
}

.name
{
	font-family: lato;
	text-align: center !important;
	margin-top: 500px;
	color: magenta;
	font-size: 100px;
	font-weight: 800 !important;
}

.header-about-me
{
	font-family: lato;
	text-align: center;
	color: #00f9ff;
	font-size: 35px;
	margin-top: 50px;
}

.header-about-me2
{
	font-family: lato;
	text-align: center;
	color: #00f9ff;
	font-size: 20px;
	margin-top: 25px;
}


.current-events
{
	margin-top: 500px;
}

.about-section
{
	font-family: lato;
	font-size: 20px;
	margin-left: 50px;
	font-weight: normal;
	color: white;
	padding-top: 100px;
}

.UCR
{
	text-align: center;
	font-size: 25px;
}

.covid-19
{
	text-align: center;
	background-color: aliceblue;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.footer-icons li
{
	display: inline-block;
	text-decoration: none;
	padding-right: 30px;
}

.linked-in img
{
	height: 34px;
	width: 34px;
}

.mail img
{
	height: 32px;
	width: 32px;
}

.links-style
{
	margin-left: 30px;
	list-style-type: none;
	
}

.links-style a
{
	text-decoration: none;
	color: lightblue;
}

.footer-icons
{
	position: relative;
	
	text-align: center;
	bottom: -300px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar
{
	float: right;
	margin: 0;
	color: turquoise;
}

.navbar-links
{
	margin-top: 30px;
}
.navbar-css
{
	padding-right: 40px;
	font-size: 30px;
	font-family: roboto;
	text-decoration: none;
	list-style-type: none;
	color:aqua;
	text-align: center;
	display: inline;
}