*
{
	box-sizing: border-box;
	margin: 0;
	
}

nav
{
	display: flex;
	background-color: #020c1b;
	justify-content: flex-end;
	width: 100%;
	padding: 25px 25px;
	border: 0;
	white-space: nowrap;
}

.navbar
{
	display: flex;
	justify-content: center;
}

#nav-end
{
	margin-right: -8px;
}

.navbar-links
{
	margin: auto;
    text-decoration: none;
    list-style-type: none;
	
}

.navbar-links li
{
    display: inline;

}

.navbar-css
{
	padding: 25px 25px;
	
	font-size: 20px;
	font-family: avenir;
	text-decoration: none;
	font-weight: 500;
	color:aqua;
	text-align: center;
}

.navbar-links a:hover
{
	color: lightgray;
	text-decoration: none !important;
	/*background-color: gray;*/
	/*padding: 8px 8px;*/
}

.active
{
	color: magenta;
}

.icon
{
	color: white;
}

.mobile-button
{
	float: right;
	cursor: pointer;
	display: none;
}

.mobile-button div
{
	width: 25px;
	height: 2px;
	background-color: white;
	margin: 4px;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 1024px) 
{
	.navbar-links
	{
		display: none;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1024px) 
{
	body
	{
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.navbar-links.responsive
	{
		position: absolute;
		top: 8vh;
		display: flex;
		flex-direction: column;
		right: 0px;
		height: 100vh;
		padding: 30px 30px;
		background-color: #020c1b;
		transform: translateX(0%);
		transition: transform 0.5s ease;
		z-index: 10;
	}
	
	.navbar-links.responsive li
	{
		padding: 30px 30px;
		
	}

	.mobile-button
	{
		display: block;
	}
}

.toggle .line1
{
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2
{
	opacity: 0;
}

.toggle .line3
{
  transform: rotate(45deg) translate(-3px, -4px);
}

.footer
{
	position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
  font-family: lato;
	font-size: 20px;
  color: white;
  text-align: center;
}