*
{
	box-sizing: border-box;
	margin: 0;
	
}

nav
{
	display: flex;
	background-color: #403638;
	justify-content: flex-end;
	width: 100%;
	padding: 8px 8px;
	border: 0;
	
}

#nav-end
{
	margin-right: -8px;
}

.navbar-links
{
	margin: auto;
    text-decoration: none;
    list-style-type: none;
	
}

.navbar-links li
{
    display: inline;

}

.navbar-css
{
	padding: 8px 8px;
	
	font-size: 30px;
	font-family: roboto;
	text-decoration: none;
	
	color:aqua;
	text-align: center;
}

.navbar-links a:hover
{
	color: aqua;
	text-decoration: none !important;
	background-color: gray;
	/*padding: 8px 8px;*/

}
